@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
}

@theme {
  --color-bg: #000000;
  --color-bg-2: #333533;
}

.movie-row::-webkit-scrollbar {
  height: 4px;
}

.movie-row::-webkit-scrollbar-track {
  background: transparent;
}

.movie-row::-webkit-scrollbar-thumb {
  background: rgba(55, 53, 53, 0.3);
  border-radius: 999px;
}

.movie-row::-webkit-scrollbar-thumb:hover {
  background: rgba(66, 66, 66, 0.5);
}